<ion-view view-title="Adoptar">
    <ion-content overflow-scroll="false">
        
        <ion-refresher on-refresh="$parent.doRefresh()" spinner="bubbles">
        </ion-refresher>
        
        <!-- Information about the pet -->
        <adopt-item>
            <p><b>Organización: </b>{{ adoptionPost.pet.ownerOrganization.organization }}</p>
            <div class="item item-divider">
                <p><b>Raza: </b>{{ adoptionPost.pet.breed }}</p>
                <p><b>Edad: </b>{{ getEdad(adoptionPost.pet.age) }}</p>
                <p><b>Genero: </b>{{ adoptionPost.pet.gender == 'Male' ? 'Macho' : 'Hembra' }}</p>
            </div>
        </adopt-item>

        <div class="list">
            
            <!-- Make a Question Field -->
            <label class="item item-input">
              <input type="text" placeholder="Haz una pregunta a la organización">
            </label>

            <!-- Adopt Button -->
            <button class="item button button-block button-balanced">Adóptame</button>

            <!-- Questions & Answers -->
            <div ng-repeat="question in adoptionPost.questions" class="item">
                <h2>{{ question.question }}</h2>
                <p>{{ question.answer }}</p>
            </div>

            <!-- See more Questions Button -->
            <div class="item">See more</div>
            
        </div>
        
    </ion-content>
</ion-view>