<ion-view view-title="{{ constants.title }}">
<!-- Template placed inside Home's Controller -->
    <!-- Search Bar -->
    <div class="bar bar-subheader item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="{{ constants.search }}" ng-model="search">
    </div>

    <!-- Scroll content with adopt items -->
    <ion-content class="has-subheader" overflow-scroll="false">
        
        <ion-refresher on-refresh="$parent.doRefresh()" spinner="bubbles">
        </ion-refresher>
        
        <adopt-item ng-repeat="adoptionPost in adoptionPosts">
            <p>{{ adoptionPost.pet.ownerOrganization.organization }}</p>
        </adopt-item>
        
        <ion-infinite-scroll on-infinite="loadMore()" distance="1%">
        </ion-infinite-scroll>
    </ion-content>
    
</ion-view>