<ion-slide-box>
    <!-- WILL BE CHANGED -->
    
    <!-- First Slide -->
    <ion-slide class="row row-center">
        <div class="col col-center">
            <h1>
                ¡Bienvenido a PetMe!
            </h1>
        </div>
    </ion-slide>
    
    <!-- Second Slide-->
    <ion-slide class="row row-center">
        <div class="col col-center">
            <h1>
                ¿Qué puedes hacer en PetMe?
            </h1>
        </div>
    </ion-slide>
    
    <!-- Third Slide -->
    <ion-slide class="row row-center">
        <div class="col col-center">
            <ion-list>
                <h1>
                    ¿Tienes ya un amigo perruno?
                </h1>
                <!-- Link to set an image -->
                <a class="button button-energized button-block" href="#/selectImage">
                    ¡Sí!
                </a>
                <!-- Link to adopt page -->
                <a class="button button-assertive button-block" href="#/home/adopt">
                    No, ¡deseo conseguir uno!
                </a>
                <!-- Link to Show off your pet page -->
                <a class="button button-stable button-block" href="#/home/showoff">
                    Deseo saltarme este paso
                    <i class="ion-arrow-right-c"></i>
                </a>
            </ion-list>
        </div>
    </ion-slide>
    
</ion-slide-box>