<ion-header-bar class="bar-stable">
  <h1 class="title">PetMe - Home</h1>
</ion-header-bar>
<ion-view>
<ion-side-menus>
      <!-- Left menu -->
      <ion-side-menu side="left">
        <ion-content>
            <ion-list can-swipe="listCanSwipe">
                <ion-item ng-click="goTo('home')">Inicio</ion-item>
                <ion-item ng-click="goTo('home.profile', {'id': 0})">Perfil</ion-item>
                <ion-item ng-click="goTo('home.adopt')">Adopciones</ion-item>
                <ion-item ng-click="goTo('home.events')">Eventos</ion-item>
                <ion-item ng-click="goTo('home.preferences')">Preferencias</ion-item>
                <ion-item ng-click="goTo('home.help')">Ayuda</ion-item>
                <ion-item ng-href="#/login">Salir</ion-item>
            </ion-list>
        </ion-content>
      </ion-side-menu>

      <ion-side-menu-content>
        <!-- Main content, usually <ion-nav-view> -->
        <!-- Handles template display -->
		    <div ui-view>
        </div>
	   </ion-side-menu-content>
</ion-side-menus>
</ion-view>