<ion-header-bar class="bar-stable">
  <h1 class="title">{{ constants.title }}</h1>
</ion-header-bar>
<ion-view>
<ion-content style="background-image: url(img/login/{{ background_img_url }}); background-size: auto, 100%; background-position: center; transition: all 3s;">
<div class="list">
	<!-- Handles the Logo Placeholder -->
	<div class="logo-space" align="center" valign="center">
        <h2>PetMe</h2>
    </div>
	<!-- Handles the UserName input -->
  <label class="item item-input" style="width: 75%; margin: 0 auto;">
    <input type="text" ng-model="username" placeholder="{{ constants.userfield }}">
  </label>
    
  <!-- Handles the Password input -->
  <label class="item item-input" style="width: 75%; margin: 0 auto;">
    <input type="password" ng-model="password" placeholder="{{ constants.passwordfield }}">
  </label>
    <label class="item item-assertive ng-hide message-error" style="width: 75%; margin: 0 auto;" ng-show="showMessage">
        <span>{{ constants.errormessage }}</span>
    </label>
    
  <br>
  <div class="col text-center">
    <button class="button button-assertive" style="width: 60%;" ng-click="logIn(username, password)">
        {{ constants.signin }}
	</button>
  </div>

  <div class="col text-center">
	<button class="button button-positive item-icon-left" style="width: 60%;">
        <i class="icon facebook-icon"></i>
        {{ constants.facebooksignin }}
	</button>
  </div>
  <div class="col text-center">
  <button class="button button-assertive" style="width: 60%;">
        {{ constants.register }}
  </button>
  </div>
</div>
</ion-content>
</ion-view>