<ion-view view-title="Adoptar">
    <ion-content overflow-scroll="false">
        
        <ion-refresher on-refresh="$parent.doRefresh()" spinner="bubbles">
        </ion-refresher>
        
        <!-- Information about the pet -->
       	<ion-item style="padding: 0px;">
			<home-pets hashtags="post.hashtags" img="post.img" info="post.inf" comments="post.comments" key="post.key" comments="post.comments"></home-pets>
		</ion-item>

        <ion-item ng-repeat="comment in post.comments">
			<user-entry name="comment.user.username" text="comment.inf" img="comment.user.img"></user-entry>
		</ion-item>
        
    </ion-content>
</ion-view>