<ion-header-bar class="bar-stable">
  <h1 class="title">{{ constants.regist }}</h1>
</ion-header-bar>
<ion-view view-title="{{ constants.title }}">

	<ion-content class="has-header" overflow-scroll="false" style="background-color: #0073B2;">
		<div class="list" style="width: 90%; margin: 0 auto; background-color: white">
		<label class="item item-input item-floating-label regist-form">
		    <span class="input-label">:</span>
		    <input type="text" placeholder="Correo Electrónico" required ng-model="email">
		  </label>
		  <label class="item item-input item-floating-label regist-form">
		    <span class="input-label">Contraseña:</span>
		    <input type="text" placeholder="Contraseña" required ng-model="password">
		  </label>
		  <label class="item item-input item-floating-label regist-form">
		    <span class="input-label">Nombre</span>
		    <input type="text" placeholder="Nombre" required ng-minlength="3" ng-maxlength="40" ng-model="name">
		  </label>
		  <label class="item item-input item-floating-label regist-form">
		    <span class="input-label">Apellido</span>
		    <input type="text" placeholder="Apellido" required ng-minlength="3" ng-maxlength="40" ng-model="last">
		  </label>
		  <label class="item item-input item-floating-label regist-form">
		    <span class="input-label">Edad</span>
		    <input type="number" placeholder="Edad" min="18" max="99" required ng-model="age">
		  </label>
		  <label class="item item-input item-select">
		    <div class="input-label">
		      Estado Civil
		    </div>
		    <select required ng-model="marital">
		      <option selected>Soltero</option>
		      <option>Casado</option>
		    </select>
		  </label>
		  <label class="item item-input">
		    <span class="input-label">México</span>
		  </label>
		  <label class="item item-input">
		    <span class="input-label">Nuevo León</span>
		  </label>
		  <label class="item item-input item-select">
		    <div class="input-label">
		      Municipio
		    </div>
		    <select required ng-model="municipality">
		      <option selected>Monterrey</option>
		      <div ng-model="mun_options" ng-repeat="mun in muns">
		    	<option>{{mun}}</option>
		      </div>
		    </select>
		  </label>
		  <label class="item item-input item-floating-label regist-form">
		    <span class="input-label">Teléfono de Casa</span>
		    <input type="number" placeholder="Teléfono de Casa" min="10" max="10" required ng-model="house_phone">
		  </label>
		  <label class="item item-input item-floating-label regist-form">
		    <span class="input-label">Teléfono Celular</span>
		    <input type="number" placeholder="Teléfono Celular" min="10" max="10" required ng-model="house_phone">
		  </label><br>
		  <button class="button button-full button-positive" ng-click="register()">
			  Registrarse
			</button>
		</div>
	</ion-content>
</ion-view>