<div class="list card">
    
    <!-- Main Information about the pet and the owner -->
    <div class="item item-divider item-span-right">
        <span>{{ adoptionPost.pet.association }}</span>
        <p>{{ adoptionPost.pet.breed }}</p>
    </div>
    
    <a class="item" ng-href="#/home/adoptions/{{ adoptionPost.id }}">
        <img ng-show="adoptionPost.pet.gender=='Female'" src="img/female.png" style="position: absolute;z-index: 2; width: 32px; right: 10px">
        <img ng-show="adoptionPost.pet.gender=='Male'" src="img/male.png" style="position: absolute;z-index: 2; width: 32px; right: 10px">
        <ion-slide-box>
            <!-- Content of Images of the Pet -->
            <ion-slide ng-repeat="img in adoptionPost.pictures" width="100%">
                <img align="center" valign="center" class="imgPet" ng-src="img/{{ img }}" style="border-radius: 10px; max-height: 200px;max-width:100%" alt="pet">
            </ion-slide>
        </ion-slide-box>
    </a>
    
    <div class="item item-divider row">
        <!--<p>{{ adoptionPost.pet.ownerOrganization.organization }}</p>-->
    
    
        <!-- Add more information to the card -->
        <ng-transclude>
        </ng-transclude>
    </div>
    
</div>