<div class="list card">
    
    <!-- Main Information about the pet and the owner -->
    <div class="item item-divider item-span-right">
        <span>{{ pet.association }}</span>
        <p>{{ pet.breed }}</p>
    </div>
    
    <!-- Content of Images of the Pet -->
    <ion-slide-box ng-click="goTo('petAdoption', {id: $index})">
        <ion-slide ng-repeat="img in pet.imgs" width="100%">
            <div align="center" valign="center">
                <img class="imgPet" ng-src="{{ img }}" style="border-radius: 10px" alt="pet">
            </div>
        </ion-slide>
    </ion-slide-box>
    
    <!-- List of Hashtags -->
    <div class="item item-divider row">
        <div class="col-md-4" ng-repeat="hashtag in pet.hashtags">
            <p>{{ hashtag }}</p>
        </div>
    </div>
    
    <!-- Add more information to the card -->
    <ng-transclude>
    </ng-transclude>
</div>