<div ng-click="selectPost(key)" class="home-frame" style="background-image: url('/img/pets/{{ img }}');">
	<div class="home-infooter"></div>
	<div style='position: absolute; width: 100%; bottom: 0px;'>
        <div class="home-hashtags" ng-repeat="hashtag in hashtags">{{ hashtag }}</div>
        <div class="row home-icon-wrapper">
			<div class="col home-icon"><i class="icon ion-ios-paw home-icon-i"></i></div>
			<div class="col home-icon"><i class="icon ion-chatbox home-icon-i"></i></div>
			<div class="col home-icon"><i class="icon ion-ios-information home-icon-i"></i></div>
			<div class="col home-icon"><i class="icon ion-android-share home-icon-i"></i></div>
		</div>
    </div>
</div>